
//Body  styling
$font-family:abc;
$font-color: #fff;
$line-height: 1.2;
$font-weight: '';
$font-size:'';
$link-color: '';
$link-active-color:'';

$body-bg-img: '';
$body-bg-color:'';
//Header Styling
//Body Styling
//Footer Styling


